.page.content {
  min-height: 200px;
}

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

section {
  padding: 10px;
  width: 430px;
  height: 100%;
  overflow: auto;
  float: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0;
}

.ui-state-highlight {
  border: 2px dotted #ccc;
}

.content img {
  max-width: 100%;
  max-height: 300px;
}

.col {
  float: left;
  position: relative;
}

.x50 {
  width: 50%;
}

.x20 {
  width: 20%;
}

.x100 {
  width: 100%;
}

h2 {
  font-size: 1em;
}

#latest {
  display: inline-block;
}

#latest a {
  margin: 0 5px;
}

header {
  display: inline;
}

header h1 {
  display: inline;
  margin-right: 10px;
}
